body {
    background-image: url("./background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll; /* changed from fixed */
    margin: 0;
    padding: 0;
}

/* Make the text shift responsive */
.shift-text {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Optional - Responsive image in nav */
.logo-img {
    width: 100%;
    max-width: 80px;
    height: auto;
  }

.navbar-brand img {
    max-width: 80px; /* Adjust the size as needed */
    height: auto; /* Maintain aspect ratio */
}

@media (max-width: 768px) {
    .shift-text {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }

    .navbar-brand img {
        max-width: 60px;
    }
}

