{% extends "base.html" %}
{% load static %}
{% block title %}
Registeration
{% endblock title %}

{% block content %}

<h1 class="text-center my-2"><u style="color: red;">Register Now!</u></h1>
<p class="text-center">For registering in the classes, fill this form:</p>
<div class="container mt-5">    
    <form method="post" action="/register/">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="mb-3">
            <label for="p_name" class="form-label">Parent's Name</label>
            <input type="text" class="form-control" id="parent_name" name="p_name" required>
        </div>
        <div class="mb-3">
            <label for="w_no" class="form-label">Whatsapp Number</label>
            <input type="phone" class="form-control" id="whatsapp_number" name="w_no" required>
        </div>
        <p class="mb-3 my-3"><b>Age Group</b></p>
        <div class="my-3" style="padding-left: 80px;">
        <div class="mb-3 form-check">
            <input type="radio" class="form-check-input" id="a_b_10" name="age_b_10" style="border: 1px solid red;" value="Under 10">
            <p>Under 10 years</p>
        </div>
        <div class="mb-3 form-check">
            <input type="radio" class="form-check-input" id="10_16" name="age_b_10" style="border: 1px solid red;" value="10-16">
            <p>10-16 years</p>
        </div>
        <div class="mb-3 form-check">
            <input type="radio" class="form-check-input" id="17p" name="age_b_10" style="border: 1px solid red;" value="17+">
            <p>17+ years</p>
        </div>
    </div>
    <p class="mb-3 my-2"><b>The mode of class:</b></p>
    <div class="px-4">
    <div class="mb-3 form-check">
        <input type="radio" class="form-check-input" id="online" name="oline" style="border: 1px solid red;" value="Online Classes">
        <p>Online Classes</p>
    </div>
    <div class="mb-3 form-check">
        <input type="radio" class="form-check-input" id="offline" name="oline" style="border: 1px solid red;" value="Offline Classes">
        <p>Offline Classes</p>
    </div>
    <p class="mb-3"><b>Your preferred days of classes:</b></p>
    <div class="mb-3 form-check">
        <input type="radio" class="form-check-input" id="m-w-f" name="day" style="border: 1px solid red;" value="Monday-Wednesday-Friday">
        <p>Monday-Wednesday-Friday</p>
    </div>
    <div class="mb-3 form-check">
        <input type="radio" class="form-check-input" id="t-th-s" name="day" style="border: 1px solid red;" value="Tuesday-Thursday-Saturday">
        <p>Tuesday-Thursday-Saturday</p>
    </div>
    <div class="mb-3">
        <label for="id_pr_time"><b>Your preferred time</b></label>
        <input type="time" name="pr_time" style="width: 250px;" id="id_pr_time" class="form-control form-control-lg" value="0:0:0">
    </div>
    <p class="mb-3 my-2"><b>Select the medium(s) of art you want to learn:</b></p>
    <div class="px-4">
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="pencil_sketching" name="medium" value="Pencil Sketching">
            <p>Pencil Colouring</p>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="charcoal" name="medium" value="Charcoal">
            <p>Charcoal</p>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="oil_pastel" name="medium" value="Oil Pastel">
            <p>Oil Pastel</p>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="soft_pastel" name="medium" value="Soft Pastel">
            <p>Soft Pastel</p>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="poster_colour" name="medium" value="Poster Colour">
            <p>Poster Colour</p>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="water_colour" name="medium" value="Water Colour">
            <p>Water Colour</p>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="calligraphy" name="medium" value="Calligraphy">
            <p>Calligraphy</p>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="mandala" name="medium" value="Mandala">
            <p>Mandala</p>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="acrylic_painting" name="medium" value="Acrylic Painting">
            <p>Acrylic Painting</p>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="oil_painting" name="medium" value="Oil Painting">
            <p>Oil Painting</p>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="portrait_study" name="medium" value="Portrait Study">
            <p>Portrait Study</p>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="sketch_pen_art" name="medium" value="Sketch Pen Art">
            <p>Sketch Pen Art</p>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="pen_art" name="medium" value="Pen Art">
            <p>Pen Art</p>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="lippon_art" name="medium" value="Lippon Art">
            <p>Lippon Art</p>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="pencil_shading" name="medium" value="Pencil Shading">
            <p>Pencil Shading</p>
            <label for="lippon_art" class="form-check-label">Pencil Shading</label>
        </div>
    </div>
        <button type="submit" class="btn btn-success">Register Now!</button>
</div>
</form>
{% endblock content %}



