{% extends "base.html" %}

{% block title %}
Registeration
{% endblock title %}

{% block content %}

<h1 class="text-center my-2"><u style="color: red;">Register Now!</u></h1>
<p class="text-center">For registering in the classes, fill this form:</p>
<div class="container mt-5">    
    <form method="post" action="/register/">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="mb-3">
            <label for="p_name" class="form-label">Parent's Name</label>
            <input type="text" class="form-control" id="parent_name" name="p_name" required>
        </div>
        <div class="mb-3">
            <label for="w_no" class="form-label">Whatsapp Number</label>
            <input type="phone" class="form-control" id="whatsapp_number" name="w_no" required>
        </div>
        <p class="text-center my-3"><b>Age Group</b></p>
        <div class="my-3" style="padding-left: 80px;">
        <div class="mb-3 form-check">
            <input type="radio" class="form-check-input" id="a_b_10" name="age_b_10" style="border: 1px solid red;" value="Under 10">
            <label for="a_b_10" class="form-check-label">Under 10 years</label>
        </div>
        <div class="mb-3 form-check">
            <input type="radio" class="form-check-input" id="10_16" name="age_b_10" style="border: 1px solid red;" value="10-16">
            <label for="10_16" class="form-check-label">10-16 years</label>
        </div>
        <div class="mb-3 form-check">
            <input type="radio" class="form-check-input" id="17p" name="age_b_10" style="border: 1px solid red;" value="17+">
            <label for="17p" class="form-check-label">17+ years</label>
        </div>
    </div>
    <p class="text-center my-2"><b>The mode of class:</b></p>
    <div class="px-4">
    <div class="mb-3 form-check">
        <input type="radio" class="form-check-input" id="online" name="oline" style="border: 1px solid red;" value="Online Classes">
        <label for="online" class="form-check-label">Online Classes</label>
    </div>
    <div class="mb-3 form-check">
        <input type="radio" class="form-check-input" id="offline" name="oline" style="border: 1px solid red;" value="Offline Classes">
        <label for="offline" class="form-check-label">Offline Classes</label>
    </div>
    <p class="text-center"><b>Your preferred days of classes:</b></p>
    <div class="mb-3 form-check">
        <input type="radio" class="form-check-input" id="m-w-f" name="day" style="border: 1px solid red;" value="Monday-Wednesday-Friday">
        <label for="m-w-f" class="form-check-label">Monday-Wednesday-Friday</label>
    </div>
    <div class="mb-3 form-check">
        <input type="radio" class="form-check-input" id="t-th-s" name="day" style="border: 1px solid red;" value="Tuesday-Thursday-Saturday">
        <label for="t-th-s" class="form-check-label">Tuesday-Thursday-Saturday</label>
    </div>
    <div class="mb-3">
        <input type="time" name="pr_time" id="id_pr_time" class="form-control form-control-lg" value="0:0:0">
        <label for="id_pr_time">Your preferred time</label>
    </div>
    <p class="text-center my-2"><b>Select the medium(s) of art you want to learn:</b></p>
    <div class="px-4">
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="pencil_sketching" name="medium" value="Pencil Sketching">
            <label for="pencil_sketching" class="form-check-label">Pencil Sketching</label>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="charcoal" name="medium" value="Charcoal">
            <label for="charcoal" class="form-check-label">Charcoal</label>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="oil_pastel" name="medium" value="Oil Pastel">
            <label for="oil_pastel" class="form-check-label">Oil Pastel</label>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="soft_pastel" name="medium" value="Soft Pastel">
            <label for="soft_pastel" class="form-check-label">Soft Pastel</label>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="poster_colour" name="medium" value="Poster Colour">
            <label for="poster_colour" class="form-check-label">Poster Colour</label>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="water_colour" name="medium" value="Water Colour">
            <label for="water_colour" class="form-check-label">Water Colour</label>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="calligraphy" name="medium" value="Calligraphy">
            <label for="calligraphy" class="form-check-label">Calligraphy</label>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="mandala" name="medium" value="Mandala">
            <label for="mandala" class="form-check-label">Mandala</label>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="acrylic_painting" name="medium" value="Acrylic Painting">
            <label for="acrylic_painting" class="form-check-label">Acrylic Painting</label>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="oil_painting" name="medium" value="Oil Painting">
            <label for="oil_painting" class="form-check-label">Oil Painting</label>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="portrait_study" name="medium" value="Portrait Study">
            <label for="portrait_study" class="form-check-label">Portrait Study</label>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="sketch_pen_art" name="medium" value="Sketch Pen Art">
            <label for="sketch_pen_art" class="form-check-label">Sketch Pen Art</label>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="pen_art" name="medium" value="Pen Art">
            <label for="pen_art" class="form-check-label">Pen Art</label>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="lippon_art" name="medium" value="Lippon Art">
            <label for="lippon_art" class="form-check-label">Lippon Art</label>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="pencil_shading" name="medium" value="Pencil Shading">
            <label for="lippon_art" class="form-check-label">Pencil Shading</label>
        </div>
    </div>
</div>
        <button type="submit" class="btn btn-success">Register Now!</button>
</div>
</form>
{% endblock content %}



